<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore Food, find restaurants from various regions in Indonesia ">
    <meta name="theme-color" content="#d84315">
    <link rel="shortcut icon" href="favicon.ico" type="image">
    <title>Explore Food</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="preload" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body>
    <header class="header"> 
        <div class="header-inner">
            <h1 class="header-tittle"> <a href="/"> Explore Food </a> </h1>
            <a href="#content" class="skip-content">Skip Content</a>
            <button class="menu" >☰</button>
        </div>
        <nav id="drawer" class="nav-bar">
            <ul class="nav-content">
                <li class="nav-item"><a href="/#/home">Home</a></li>
                <li class="nav-item"><a href="/#/favorite">Favorite</a></li>
                <li class="nav-item"><a href="https://www.facebook.com/waqitfery.setyoko" target="blank">About Us</a></li>
            </ul>
        </nav>
        
    </header>

    <div class="hero" tabindex="0">
        <div class="hero-inner">
            <h2 class="hero-tittle">Find it interesting.</h2>
            <h2 class="hero-description">Explore interesting places by trying it</h2>
        </div>
    </div>

    <main>
    </main>

    <footer class="footer" tabindex="0">
        <span class="footer-copyright">Copyright © 2021 - Explore Food</span>
    </footer>
</body>
</html>